header{ 
  height: 75px;
  width: 100%;
  top: 0;
  left: 0;
  background: black;
}

body{
  width: 100%;
  margin: auto;
  background: black;
}

footer{
  background: linear-gradient(#101b1c ,93% , #ff0028);
  height: 200px;
  width: 100%;
  bottom: 0;
  display: grid;
}

.logo{
  float: left;
  width: 40px;
  height: 40px;
  padding-left: 20px;
}

h1{
  text-align: center;
  font-size: 24pt;
  font-style: inter-Black;
  text-shadow: 0 0 4px Aqua;
  padding-bottom: 15px;
  padding-left: 250px;
  letter-spacing: -0.05em; 
  color: white;
  font-weight: bold;
}

.head a{
  float: right;
  color: white;
  display: auto;
  margin-top: 10px;  
  margin-left: 15px;
  margin-right: 20px;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  font-family: "Inter Bold";
  src: url('font/Inter-Bold.woff') format('woff');
}

.featured_article {
  border-top:1px solid #343434;
  border-bottom:1px solid #343434;
  height: 75px;
}

  
.paragraph {
  color: #343434;
  text-align: left;
  padding-left: 25px;
  padding-top: 28px;
}

.articles{
  width: 100%;
  height: 350px;
  top: 0;
  border-bottom: 1px solid #343434;
}

.category{
  width: 39%;
  height: 1000px;
  float: right;
  margin-top: 0;
  color: white;
}


.img-node{
  float: left;
  width: 50%;
  height: 100%;
}

.title{
  width: 48%;
  float: right;
  margin-left: 2px;
  color: white;
  font-size: 12pt;
  height: 200px;
  padding-top: 20px;
}

.vertical{
  border-left: 4px solid Aqua;
  height: 40px;
  padding-top: 2px;
}

h2{
  padding-left: 15px;
  font-weight: bold;
}

p{
  font-weight: bold;
}

ul{
  padding: 0;
  margin: 0;
  color: #343434;
}

.title li{
  display: inline;
  padding-right: 8px;
  font-size: 7pt;
}

.title a{
  border-top: 0.01em solid #343434;
  border-bottom: 0.01em solid #343434;
  height-line: 1em;     
}

.containers{
  width: 60%;
  border-right: 1px solid #343434;
  height: 1564px;
}

.latest-articles{
  float: left;
  height: 75px;
  display: table;
}

  
.group{
  width: 100%;
  height: 700px;
  background-color: black;
  padding-top: 0;
}

.img-1{
  float: left;
  width: 50%;
  height: 50%;
  border-top: 1px solid #343434;
  border-right: 1px solid #343434;
}

img{
  padding-bottom: 0;
}

.title-img{
  color: white;
  font-size: 10px;
  padding-left: 20px;
  padding-top: 10px;
}

.bar{
  border-left: 4px solid Aqua;
  height: 18px;
  padding-top: 2px;
}

h3{
  padding-left: 10px;
  font-weight: bold;
}

.title-img li{
  display: inline-block;
  padding-right: 7px;
  font-size: 8pt;
}

.title-img a{
  height-line: 2em;
  border-top: 1px solid #343434;
  border-bottom: 1px solid #343434;
}


.img-2{
  float: right;
  width: 49.8%;
  height: 50%;
  border-top: 1px solid #343434;
}

.img-3{
  float: left;
  width: 50%;
  height: 50%;
  border-right: 1px solid #343434;
  border-top: 1px solid #343434;
  border-bottom: 1px solid #343434;
}

.img-4{
  float: right;
  width: 49.8%;
  height: 50%;
  border-top: 1px solid #343434;
  border-bottom: 1px solid #343434;
}

  
.categories{
  border-left: 3px solid #b20a2c;
  height: 25px;
}

.date{
  border-left: 3px solid #013220;
  height: 25px;
  margin-top: 40px;
}

.other{
  border-left: 3px solid #343434;
  height: 25px;
  margin-top: 40px;
}

h4{
  padding-left: 10px;
  font-size: 14pt; 
}

.category ul{
  margin: 0;
  padding-left: 15px;
  padding-top: 15px;
  color: white;
}

.category li{
  font-weight: bold;
  font-size: 12pt;
}
 @media only screen and (max-width: 768px){
  
  .articles{
    display: table;
  }
  
  .articles .img-node{
    width: 100%;
  }
   
 .articles .title{
   width: 100%;
   }
  
  category{
    width: 100%;
    display: table;
  }
   .containers{
     display: table;
   }
   .containers .latest-articles{
     width: 100%;
   }
   .containers .group{
     width: 100%
   }
}


.footer{
  display: inline-block;
}

.box{
  height: 25px;
  width: 40px;.box1{
  height: 25px;
  width: 40px;
  background: black;
  margin-top: 50px;
}

.box1{
  height: 25px;
  width: 40px;
  background: black;
  margin-top: 50px;
}
